*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 20px 50px;
    margin: 20px;
    border: 2px solid black;
}

article ul{
    list-style: none;
}